RewriteEngine On
# Redirection de toutes les requêtes vers index.php

# Ne pas rediriger si la requête concerne un fichier ou un répertoire réel
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger vers index.php
RewriteRule ^ index.php [QSA,L]
